.box1 {
  /* スライドダウンの時はコメントアウトを外す */
  /* display: none;  */
  background-color: #ffffff;
  height: 200px;
  width: 200px;
  float: left;
}

.bg1 {
  background-color: #ffaaaa;
}

.bg2 {
  background-color: #ffbbbb;
}

.bg3 {
  background-color: #ffcccc;
}

.bg4 {
  background-color: #ffdddd;
}