@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px;
}

.box {
  height: 300px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto 50px;
  background-color: #eee;
}

/* ハンバーガーアイコン */
#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

